/*==========	Desktop First	==========*/
@media only screen and (max-width: 1440px) {
  .btn-scroll-top {
    right: 78px;
    bottom: 37px;
  }
  .col-30 {
    padding: 0 12px;
  }
  .row {
    margin: 0 -12px;
  }
}
@media only screen and (max-width: 1200px) {
  .nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    max-width: 375px;
    background: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    z-index: 7;
    -webkit-transform: none;
            transform: none;
    padding: 72px 24px;
    display: none;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 32px 0 0;
  }
  .menu li {
    margin: 0 0 16px;
  }
  .menu li:last-child {
    margin: 0;
  }
  .logo {
    position: relative;
    z-index: 8;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-border::before {
    width: calc(100% - 48px);
  }
}
@media only screen and (max-width: 1024px) {
  .home-slider {
    display: none;
  }
  .home-slider__nav {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .home {
    padding: 132px 0 60px;
  }
  .home:after {
    content: "";
    position: absolute;
    top: 110px;
    right: 58px;
    width: 449px;
    height: 331px;
    background: #FF3358;
    opacity: 0.25;
    -webkit-filter: blur(114px);
            filter: blur(114px);
    border-radius: 123px;
    z-index: -1;
  }
  .home-content {
    max-width: 690px;
  }
  .home-content h1 {
    max-width: 565px;
  }
  .home-content .box-text {
    max-width: none;
  }
  .games-logos {
    margin: 60px 0 0;
  }
  .game-logo__item:nth-child(7) {
    display: none;
  }
  .search-wrapper {
    position: initial;
  }
  .search-dropdown {
    top: -2px;
    left: 0;
    -webkit-transform: none;
            transform: none;
    max-width: none;
    min-width: auto;
    width: 100%;
    border-radius: 0;
  }
}
@media only screen and (max-width: 930px) {
  .footer-box {
    margin: 0 100px 0 0;
  }
  .game-card__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .game-card__body .product-row__price {
    margin: 10px 0 0;
  }
  .explore-catalog-logos__item {
    width: 79px;
    height: 79px;
    margin: 0 4.5px 9px;
  }
  .form-search-page {
    max-width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .col-30 {
    width: 100%;
  }
  .games-logos {
    display: none;
  }
  .explore-catalog-logos__item {
    width: 57px;
    height: 57px;
    padding: 15px;
  }
  .btn-scroll-top {
    right: 16px;
  }
  .footer-top {
    padding: 60px 0;
  }
  .footer-box {
    margin: 0 40px 0 0;
  }
  .list-social {
    margin: 16px 0 0;
  }
  .title-wrapper {
    margin: 0 0 32px;
  }
  .form-search-page {
    max-width: 270px;
  }
}
@media only screen and (max-width: 650px) {
  .footer-box:last-child {
    width: 100%;
    margin: 30px 0 0;
  }
  .form-search-page {
    max-width: none;
    margin: 16px 0 0;
  }
  .page-catalog {
    padding: 104px 0 44px;
  }
}
@media only screen and (max-width: 590px) {
  .nav-menu {
    max-width: none;
  }
  header {
    padding: 20px 0;
  }
  header .btn-group {
    display: none;
  }
  header .nav-menu .btn-group {
    margin: 32px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .nav-menu .btn-group .btn {
    width: 100%;
    margin: 0 0 16px;
    height: 48px;
  }
  .search-dropdown {
    top: -20px;
  }
  .language-wrapper {
    margin: 0 0 0 20px;
  }
  .container {
    padding: 0 16px;
  }
  .row {
    margin: 0 -16px;
  }
  .col-30 {
    padding: 0 16px;
  }
  .home {
    padding: 104px 0 48px;
  }
  h1 {
    text-align: center;
    font-size: 36px;
  }
  .home-content .box-text {
    text-align: center;
  }
  .home-content .btn-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-content .btn-group .btn {
    width: 100%;
    margin: 0 0 16px;
  }
  .home-content .btn-group .btn:last-child {
    margin: 0;
  }
  .p-60 {
    padding: 48px 0;
  }
  h2 {
    font-size: 24px;
    margin: 0 auto 32px;
  }
  .game-card {
    min-height: 380px;
    padding: 16px;
  }
  .game-card__logo {
    width: 48px;
    height: 48px;
  }
  .game-card__title {
    font-size: 18px;
  }
  .mb-24 {
    margin-bottom: 16px;
  }
  .row-bg::before {
    opacity: 0.24;
    background: #FF3358;
    -webkit-filter: blur(114px);
            filter: blur(114px);
  }
  .popular-games .row {
    display: none;
  }
  .popular-games .row:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-all {
    margin: 16px auto 0;
  }
  .explore-catalog__content {
    margin: 51px auto 60px;
    max-width: 303px;
  }
  .explore-catalog-logos__item {
    width: 79px;
    height: 79px;
  }
  .explore-catalog-logos__item:first-child, .explore-catalog-logos__item:nth-child(2), .explore-catalog-logos__item:nth-child(7), .explore-catalog-logos__item:nth-child(8) {
    display: none;
  }
  .explore-catalog-logos::before {
    height: 82px;
    top: 0;
  }
  .explore-catalog-logos .line .explore-catalog-logos__item:nth-child(3), .explore-catalog-logos .line .explore-catalog-logos__item:nth-last-child(2) {
    display: none;
  }
  .explore-catalog-logos .line .explore-catalog-logos__item:nth-child(7), .explore-catalog-logos .line .explore-catalog-logos__item:nth-child(8) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .explore-catalog-logos .line .explore-catalog-logos__item:last-child {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .explore-catalog-logos:last-child::before {
    top: auto;
    bottom: 0;
  }
  .explore-catalog-logos:last-child .explore-catalog-logos__item {
    display: none;
  }
  .explore-catalog-logos:last-child .line {
    display: none;
  }
  .explore-catalog-logos:last-child .d-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .explore-catalog-logos .line-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .explore-catalog-logos .line-mobile .explore-catalog-logos__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .explore-catalog-logos .line-mobile .explore-catalog-logos__item:nth-child(2), .explore-catalog-logos .line-mobile .explore-catalog-logos__item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-box {
    margin: 0 0 32px;
    width: 100%;
  }
  .footer-box h3 {
    margin: 0;
  }
  .footer-box__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-box__title.open:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .footer-box__title::after {
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 0 0 6px;
    background: url("../img/arrow-bottom.svg") no-repeat center;
    background-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-box:last-child {
    margin: 0;
  }
  .footer-menu {
    display: none;
  }
  .footer-menu li {
    margin: 16px 0 0;
  }
  .footer-menu li:last-child {
    margin: 16px 0 0;
  }
  .reslut-search-text {
    text-align: left;
    font-size: 18px;
  }
}
@media only screen and (max-width: 420px) {
  .home-numbers-item {
    font-size: 14px;
    margin: 0 auto 0 0;
  }
  .home-numbers-item:last-child {
    margin: 0;
  }
  .home-numbers-item p {
    font-size: 18px;
    margin: 0 0 2px;
  }
  .game-card {
    min-height: 204px;
  }
  .product-row__name {
    max-width: 207px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 400px) {
  .explore-catalog-logos__item {
    width: 63px;
    height: 63px;
  }
}